/build/
/build-ninja/
/.vs/
.idea/
*.vcxproj*
*.sln
*.suo
*.user
*.ncb
ipch/
*.dll
*.dylib
*.so
*.lib
*.a
*.o
*.obj
*.exe
*.vst3/
*.vst/
*.component/
*/JuceLibraryCode/BinaryData*.cpp
*/JuceLibraryCode/BinaryData.h
*/JuceLibraryCode/JuceHeader.h
*/JuceLibraryCode/*.rc
*.log
build.log
build2/
build_full.log
tmp/
temp/
target*/
tmp-*/
.DS_Store
Thumbs.db
